/* new-theme */

.fullscreen_bg {
    position: -webkit-sticky;
    top: 85px;
    right: 0;
    bottom: 0;
    width: 1700px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Bulgaria_location_map.svg/250px-Bulgaria_location_map.svg.png');
  }
.newthemeborder {
    border: 1px solid;
    border-radius: 1em;
    width: 80%;
    margin: auto;
    margin-top: 2em;
    padding: 1em;
  }
  
  .newthemeborder .input {
    margin-bottom: 1em;
  }
  
  .headerbackground {
    background-color: #4ebced;
    border: 1px solid #4ebced;
    padding: 1.5em;
    padding-bottom: 0;
    margin-bottom: 1em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
  }
 
  .headerbackground span {
    background-color: #fff;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 0.3em;
  } 
  
  .title, .newthemecontent {
    display: flex;
    flex-direction: column;
  }
  
  .newthemecontent {
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .newthemecontent textarea {
    width: 100%;
    padding: 0.5em;
    margin: 0;
  }
  
  .newthemecontent label {
    margin-bottom: 0.3em;
  }
  
  .newthemetitle input {
    width: 55%;
    border-radius: 0.3em;
    padding: 0.35em;
  }
  
  button+button {
    margin-left: 1rem;
  }
  
  .newthemebuttons {
    margin-top: 1em;
    text-align: center;
  }
  
  .newthemebuttons button {
    padding: 0.4em 1.5em;
    border: 1px solid #333333;
    border-radius: 0.3em;
  }
  
  p.error {
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
  }
  
  .inputerror {
    border-left-color: red;
  }